* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --background-page-color: #e5e5e5;
    --brand-color-blue: #2196f3;
    --brand-color-background: #2f303a;
    --brand-color-black: #212121;
    --brand-color-grey: #f5f4fa;
    --brand-color-white: #ffffff;
    --brand-color-text-grey: #757575;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--brand-color-black);
    background-color: var(--background-page-color);
    margin: 0 auto; 
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container-section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 200px;
    padding-top: 200px;
}

.container-section2 {
    align-items: center;
    list-style: none;
    display: flex;
    gap: 30px;
}

.item {
    padding-top: 94px;
    flex-wrap: wrap;
    flex-basis: calc((100% - 20px) / 4);
}

.container-section3 {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}

.container-section4 {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; 
}

.container-section2-portfolio {
    align-items: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-1 {
    background-color: var(--brand-color-background);
}

.section-2 {
    background-color: var(--brand-color-white);
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-3 {
    background-color: var(--brand-color-white);
    padding: 94px 94px;
}

.section-4 {
    background-color: var(--brand-color-grey);
    padding: 94px 94px;
}

.section-1-portfolio {
    background-color: var(--brand-color-white);
}

.section-2-portfolio {
    background-color: var(--brand-color-white);
    padding-bottom: 94px;
    padding-top: 50px;
}

.menu {
    background-color: var(--brand-color-white);
    padding-top: 24px;
    padding-bottom: 25px;
}

.border {
  border-bottom: 1px solid #ECECEC;
}

.menu-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--brand-color-blue);
    
}

.menu-logo-top {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--brand-color-black);
    flex-direction: row;
    margin-right: 93px;
}

.menu-logo-bottom {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--brand-color-white);
}

.contact-top {
    display: flex;
    list-style: none;
}

.contact {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
    color: var(--brand-color-text-grey);
}

.contact-nav {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--brand-color-white);
}

.contact:hover,
.contact:focus {
    color: var(--brand-color-blue);
}

.navigation {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    margin-right: 371px;
}

.link-navigation {
    display: flex;
    list-style: none;
}

.link-nav {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--brand-color-black);
    margin-right: 46px;
}

.link-nav:hover,
.link-nav:focus {
    color: var(--brand-color-blue);
}

.text-dec {
    text-decoration: none;
}

.button-list {
    justify-content: center;
    list-style: none;
    display: flex;
}

.pointer {
    font-family: 'Roboto';
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--brand-color-black);
    background-color: var(--brand-color-grey);
    border: none;
    display: inline-block;
    width: 121px;
    height: 38px;
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    margin: 4px;
}

.pointer:focus {
    color: var(--brand-color-white);
    background-color: var(--brand-color-blue);
    }

.pointer2 {
    font-family: 'Roboto';
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--brand-color-white);
    background-color: var(--brand-color-blue);
    border-radius: 4px;
    border: none;
    display: inline-block;
    width: 200px;
    height: 50px;
    padding: 10px 41px;
}

.pointer2:focus {
    color: var(--brand-color-white);
    background-color: var(--brand-color-blue);
}

.button-main:hover
 {
    color: var(--brand-color-white);
    background-color: var(--brand-color-blue);
}


.button-main2:hover {
    color: var(--brand-color-white);
    background-color: var(--brand-color-blue);
}

.heading1 {
    font-style: normal;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--brand-color-white);
    max-width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
}

.heading2 {
    font-style: normal;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;  
    margin-bottom: 50px; 
}

.heading3 {
    font-style: normal;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.heading4 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--brand-color-black);
}

.card-heading {
    background-color: var(--brand-color-white);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 0px 0px 4px 4px;
}

.card-heading-portfolio {
    background-color: var(--brand-color-white);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    border: 1px solid #EEEEEE;   
}

.img-no-gap {
    display: block;
}

.card-heading, .img-no-gap {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.img-portfolio-no-gap {
    display: block;
}

.text {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--brand-color-text-grey);
}

.text2 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18x;
    letter-spacing: 0.03em;
    color: var(--brand-color-text-grey);
}

.text3 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--brand-color-text-grey);
}

.footer {
    background-color: var(--brand-color-background);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 60px;
    padding-bottom: 60px;
}
    

.footer-container {
    list-style: none;
    padding-top: 20px;
}
